<div class="form-page">
    <div class="form">
        <form class="login-form" method="post">
            <h4 class="mb-3">Member-Management Login</h4>
            <input type="email" placeholder="email" name="email" title="email" required/>
            <input type="password" placeholder="password" name="password" title="password"required/>
            <button type="submit" name="login" title="login">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
        <form class="register-form" method="post">
            <h4 class="mb-3">Member-Management Register</h4>
            <input type="email" placeholder="email" name="email" title="email" required/>
            <input type="text" placeholder="firstname" name="firstname" title="firstname" required/>
            <input type="text" placeholder="lastname" name="lastname" title="lastname" required/>
            <input type="password" placeholder="password" name="password" title="password" required/>
            <button type="submit" name="register" title="register">register</button>
            <p class="message">Already have an account? <a href="#">Login</a></p>
        </form>
    </div>
</div>